@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background:#eee;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:14px;
}
a{
    text-decoration: underline;
    color:chocolate;
    font-style: oblique;
    font-variant: normal;
    font-weight:bolder;
    font-size: 30px;
    line-height: 5em;
}
ul{
    list-style-type: none;
    color: #EF9FA1;
}
header{
	width:90%;
	height:160px;
	margin:5px auto;
	background:none;
}
.logo{
	margin:0px 0px;
	padding:17px;/*字体与边框的距离*/
	font-style:oblique;
	font-size:80px;/*字体的大小*/
	font-weight:bolder;
	color:white;/*字体的颜色*/
	/*height:60px;框的高度*/
	line-height:0.8em;/*字体上下移动*/
	/*border:10px solid #fff;边框的粗细和颜色*/
	border-radius:100px;/*边缘的弧度*/
}
.banner1{
    display: inline-block;
    font-family: "华文行楷";
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: #fff;
    text-decoration-line:none;
    text-align: right;
}
.banner2{
    display: inline-block;
    font-family:"华文行楷";
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: #fff;
	
}
.link{
	display:block;
	font-family: "Bodoni MT Black";
    font-weight: bold;
    font-style: italic;
    font-size: 120px;
    color: #fff; 
	line-height:11em;/*字体上下移动*/

}
header nav dl{
	margin-right:40px;
	text-align:center;
	font-family:"黑体", "仿宋", "方正姚体";
}
header nav dl>dt{
    display: table;
    color: darkmagenta;
    font-size: 30px;
    font-family:"华文隶书";
    font-variant: normal;
    text-align: left;
    text-indent: -80px;
}
header nav dl>dd{
	color:chocolate;
	font-size: 40px;
	font-weight: bolder;
	padding-bottom: 10px;
}
header nav dl>dd a{
	padding-bottom:0px;
	letter-spacing:2px;
	font-size:18px;
	color:chocolate;
	line-height: normal;
	font-style: italic;
	text-align: right;
}
header nav dl>dd.introduction a{
	font-weight:900;
	color:coral;
	border-bottom:1px solid #000;
}
header nav dl>dd a:hover{
    color: #AAAAAA;
    text-align: center;
}
header nav dl>dd.active a{color:#149DE0;}
header nav dl>p{
    color: palevioletred;
    text-align: center;
    font-family: "华文行楷";
    font-size: 25px;
    line-height: 35px;
}
header nav dl>p1{
    color: chocolate;
    font-family: "微软雅黑";
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 20px;
    text-align: right;
}

h3{
	color:cadetblue;
	font-family:"华文彩云";
	font-size:22px;
	font-weight: bolder;
	padding-top: 70px;
}
p1{
    color: palevioletred;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 30px;
    font-size: 20px;
    font-family: "华文行楷";
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    text-align: left;
}
p2{
    color:chocolate;
    font-family: "微软雅黑";
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 20px;
    text-align: center;
}
p3{
	color:chocolate;
	font-size:25px;
}
p4{
	color:chocolate;
	font-size: 25px;
}
input{
    color:black;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    text-indent: 5px;
}
h1{
	color:chocolate;
	font-size: 25px;
	letter-spacing: 10px;
}
.container aside{
	margin:30px 20px;
	padding-top:5px;
	width:25%;
	height:600px;
	float:left;
	letter-spacing: 10px;
	text-align: center;
}
.container aside p{
	font-family: "华文行楷";
	font-size:22px;
	color:palevioletred;
}
.container aside ul>li{
    margin-left: 80px;
    text-align: left;
    margin-top: -40px;
}
.container aside ul>li a{
    color: cornflowerblue;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-family: "仿宋";
    letter-spacing: normal;
    font-variant: small-caps;
}
.container aside ul>li a:hover{
	color:#aaa;
}	
.container aside ul>li.active a{
	color:#149de0;
}
.container section{
	margin:96px 0;
	margin-right: 40px;
	padding:5px 10px;
	width:65%;
	height:500px;
	float:right;
	background:#EFE3E3;
}
.container section article{
	margin:150px 0;
	margin-left: 40px;
}
.container section ul>li{
	margin: -100px 0;
}
.container section img{
	margin: -90px;
	margin-left: 40px;
}